---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "go-relayer.fullname" . }}
  namespace: {{ include "go-relayer.namespace" . }}
  labels:
    {{- include "go-relayer.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "go-relayer.selectorLabels" . | nindent 6 }}
{{ include "go-relayer.selectorLabels" . | nindent 6 }}
      {{- include "go-relayer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configMap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "go-relayer.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: chain1mnenomic
        secret:
          secretName: {{ .Values.relayer.chain1SecretName }}
      - name: chain2mnenomic
        secret:
          secretName: {{ .Values.relayer.chain2SecretName }}
      - name: keys
        emptyDir: {}
      - name: configfile
        configMap:
          name: {{ .Release.Name }}-configmap
          items:
            - key: config.yaml
              path: config.yaml
      initContainers:
        - name: init-chain-1
          image: "{{.Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion}}"
          rly keys restore chain_name key_name mnemonic
          args: [
            'keys',
            'restore',
            '{{ .Values.relayer.chain1Name }}',
            '{{ .Values.relayer.chain1KeyName }} < /etc/chain1mnemonic',
          ]
          volumeMounts:
            - name: keys
              mountPath: "/root/.relayer/keys"
            - name: configfile
              mountPath: "/root/.relayer/"
            - name: chain1mnenomic
              readOnly: true
              mountPath: /etc/chain1mnenomic
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        - name: init-chain-2
          image: "{{.Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion}}"
          args: [
            'keys',
            'restore',
            '{{ .Values.relayer.chain2Name }}',
            '{{ .Values.relayer.chain2KeyName }} < /etc/chain2mnenomic',
          ]
          volumeMounts:
            - name: keys
              mountPath: "/root/.relayer/keys"
            - name: configfile
              mountPath: "/root/.relayer/"
            - name: chain2mnenomic
              readOnly: true
              mountPath: /etc/chain2mnenomic
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      containers:
        - name: relayer 
          image: "{{.Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion}}"
          imagePullPolicy: {{.Values.image.pullPolicy}}
          args: [
            'start'
          ]
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          - name: keys
            mountPath: /root/.relayer/keys
          - name: configfile
            mountPath: "/root/.relayer/"
          ports:
          - containerPort: 3001
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
