---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "go-relayer.fullname" . }}
  namespace: {{ include "go-relayer.namespace" . }}
  labels:
    {{- include "go-relayer.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "go-relayer.selectorLabels" . | nindent 6 }}
{{ include "go-relayer.selectorLabels" . | nindent 6 }}
      {{- include "go-relayer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configMap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "go-relayer.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: chain1mnemonic
        secret:
          secretName: {{ .Values.relayer.chain1SecretName }}
      - name: chain2mnemonic
        secret:
          secretName: {{ .Values.relayer.chain2SecretName }}
      - name: keys
        emptyDir: {}
      - name: configfile
        configMap:
          name: {{ .Release.Name }}-configmap
          items:
            - key: config.yaml
              path: config.yaml
      initContainers:
        - name: init-chain-1
          image: "{{.Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion}}"
          command: ["/bin/sh", "-c"]
          args:
            - >
              rly --home /root/.relayer keys restore {{ .Values.relayer.chain1Name }} {{ .Values.relayer.chain1KeyName }} "$(cat /etc/chain1mnemonic/mnemonic)"

          volumeMounts:
            - name: keys
              mountPath: "/root/.relayer/keys"
            - name: configfile
              mountPath: "/root/.relayer/config"
            - name: chain1mnemonic
              readOnly: true
              mountPath: /etc/chain1mnemonic
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        - name: init-chain-2
          image: "{{.Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion}}"
          command: ["/bin/sh", "-c"]
          args:
            - >
              rly --home /root/.relayer keys restore {{ .Values.relayer.chain2Name }} {{ .Values.relayer.chain2KeyName }} "$(cat /etc/chain2mnemonic/mnemonic)"
          volumeMounts:
            - name: keys
              mountPath: "/root/.relayer/keys"
            - name: configfile
              mountPath: "/root/.relayer/config/"
            - name: chain2mnemonic
              readOnly: true
              mountPath: /etc/chain2mnemonic
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      containers:
        - name: relayer
          image: "{{.Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion}}"
          imagePullPolicy: {{.Values.image.pullPolicy}}
          command: ["rly"]
          args: [
            '--home',
            '/root/.relayer',
            'start',
            '--enable-metrics-server',
            '--metrics-listen-addr',
            '0.0.0.0:5148'
          ]
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          - name: keys
            mountPath: /root/.relayer/keys
          - name: configfile
            mountPath: "/root/.relayer/config"
          ports:
          - containerPort: 3001
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
