---
replicaCount: 1

image:
  repository: ghcr.io/archway-network/lambo-proxy
  pullPolicy: Always
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

resources:
  {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

podSecurityContext:
  fsGroup: 65532
  runAsGroup: 65532
  runAsNonRoot: true
  runAsUser: 65532

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  readOnlyRootFilesystem: false

podAnnotations: {}
nodeSelector: {}
tolerations: []
affinity: {}

service:
  port: 8080
  type: ClusterIP

serviceMonitor:
  enabled: false
  additionalLabels: {}
  interval: 1m
  scrapeTimeout: 10s
  metricsPath: /metrics
  targetLabels: []
  metricRelabelings: []
  relabelings: []

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: lambo-proxy.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

config: |
  proxy_port: 8080
  health_check_interval: 5s
  health_check_failures: 3
  ewma_alpha: 0.1
  backend_addresses:
    - "rpc-osmosis.ecostake.com:443"
    - "osmosis-rpc.polkachu.com:443"
    - "rpc.osmosis.validatus.com:443"

