---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "lambo-proxy.fullname" . }}
  namespace: {{ include "lambo-proxy.namespace" . }}
  labels:
    {{- include "lambo-proxy.labels" . | nindent 4 }}
spec:
  internalTrafficPolicy: Cluster
  ports:
    - name: http
      port: {{ .Values.service.port }}
      protocol: TCP
      targetPort: http
  selector:
    {{- include "lambo-proxy.selectorLabels" . | nindent 4 }}
  type: {{ .Values.service.type }}

